ul {
  list-style-type: circle;
  font-size: 12px;
}

.SkillSectionBody {
  font-size: 16px;
  margin: 5%;
}

.SkillGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 4px;
}

.Skill {
  width: 100%;
  background-color: #ddd;
}
