.Cv {
  text-align: left;
  margin: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.CvIntroduction {
  grid-column: 1 / 3;
}

.CvSectionTitle {
  font-size: 20px;
}

.CvEducation {
  grid-column: 1 / 3;
}

.CvEducationInternal {
  display: grid;
  grid-template-columns: 50% 50%;
}

